body.autenticacao {
    background-color: #f7d081!important;
    background-image: url(../background.jpeg);
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 0.9;
    background-size: 100%;
}

#lista_produtos {
    display: none;
}


#body_index{
    background-image: url("../img/background.png");
}
#logomaximus{
    width:300px;
    height:300px;
}

#logo{
    display: flex;
    justify-content: center;
}
#bemvindo{
    display: flex;
    justify-content: center;
}
#botaoentrar{
    background-color:orangered;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    color: azure;
}

.titulo {
    font-size: 12px;
}

.exclui-item-lista-produto {
    color: red;
    margin-left: 40px;
    cursor: pointer;
}
.carregando{
                color:#666;
                display:none;
            }